body
 {    
background-color: #FFFF9E;

}
#ul
{



    float: right;
    font-family: 'Droid Sans',sans-serif;
    font-size: 16px;
    margin-top: 25px;
    text-transform: uppercase;



}
#about_emp01
{
    left: 260px;
    position: absolute;
    text-align: left;
    top: 58px;
    width: 583px;
    z-index: 8;
}
h1 {
   
    
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}





p#about01 { position: absolute;
    left: 300px;
   
    top: 125px;
    width: 256px;
    }
 p {
    color: #0D2730;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.9em;
    margin: 0;
    padding: 0;
}
#img
{
background-position: left top;
    background-repeat: no-repeat;
    height: 295px;
    left: 526px;
    position: absolute;
    top: 150px;
    width: 262px;
    border-radius:10px;
   box-shadow: 12px 12px 12px #000;

}
.img
{

    height: 295px;
    left: 526px;
    
    top: 120px;
    width: 262px;
    border-radius:10px;
   box-shadow: 12px 12px 12px #000;

}

#menu_id{
	float: right;
   
      color: #1E1E1E;
   padding-left: 350px;
   padding-right: 20px;
   font-family: 'Droid Sans',sans-serif;
   font-size: 20px;
   margin-top: 25px;
   text-transform: uppercase;
   text-decoration:none;
   display:inline;
       


}
a{text-decoration:none;
}
post_id{ 
	left: 260px;
    position: absolute;
    text-align: left;
    top: 58px;
    width: 223px;
    z-index: 8;
}
 h2
 {
 position:absolute;
 background-color: #0D2730;
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top:70px;
    padding: 0;
 
 }


